{% extends "base.html" %}

    {% block content %}
        <!-- Start Slider Area -->
          <div id="home" class="slider-area">
            <div class="bend niceties preview-2">
              <div id="ensign-nivoslider" class="slides">
                <img src="static/img/slider/escritorio.jpg" alt="" title="#slider-direction-1" />
                <img src="static/img/slider/fabrica.jpg" alt="" title="#slider-direction-2" />
                <img src="static/img/slider/cozinha.jpg" alt="" title="#slider-direction-3" />
              </div>

              <!-- direction 1 -->
              <div id="slider-direction-1" class="slider-direction slider-one">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="slider-content">
                        <!-- layer 1 -->
                        <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
                          <h2 class="title" </h2>
                        </div>
                        <!-- layer 2 -->
                        <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                          <h1 class="title2"></h1>
                        </div>
                        <!-- layer 3 -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- direction 2 -->
              <div id="slider-direction-2" class="slider-direction slider-two">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="slider-content text-center">
                        <!-- layer 1 -->
                        <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                          <h2 class="title1"> </h2>
                        </div>
                        <!-- layer 2 -->
                        <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                          <h1 class="title2"></h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- direction 3 -->
              <div id="slider-direction-3" class="slider-direction slider-two">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="slider-content">
                        <!-- layer 1 -->
                        <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                          <h2 class="title1"> </h2>
                        </div>
                        <!-- layer 2 -->
                        <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                          <h1 class="title2"></h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <!-- Start About area -->
          <div id="about" class="about-area area-padding">
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="section-headline text-center">
                    <h2>Sobre a Luperoup</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- single-well start-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="well-left">
                    <div class="single-well">
                      <a href="#">
                         <img src="static/img/about/exposicao.jpg" alt="">
                      </a>
                    </div>
                  </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="well-middle">
                    <div class="single-well">
                      <a href="#">
                        <h4 class="sec-head">Quem Somos</h4>
                      </a>
                      <p>
                        A Luperoup é uma empresa que se dedica ao fabrico de roupeiros e cozinhas.
                        Optimizamos os espaços existentes tornando-os mais funcionais, tendo sempre em conta as necessidades e preferências de cada cliente.
                        Ao longo dos 15 anos de existência temos apostado numa equipa técnica produtiva e capaz de responder á evolução e competitividade do mercado.
                      </p>
                      <ul>
                        <li>
                          <i class="fa fa-check"></i> Atendimento Personalizado
                        </li>
                        <li>
                          <i class="fa fa-check"></i> Fabricação por Medida
                        </li>
                        <li>
                          <i class="fa fa-check"></i> Projeto 3D
                        </li>
                        <li>
                          <i class="fa fa-check"></i> Equipas próprias de instalação
                        </li>
                        <li>
                          <i class="fa fa-check"></i> Serviço pós-venda
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- End col-->
              </div>
            </div>
          </div>
          <!-- End About area -->

          <!-- Start Service area -->
          <div id="services" class="services-area area-padding">
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="section-headline services-head text-center">
                    <h2>Os nossos Serviços</h2>
                  </div>
                </div>
              </div>
              <div class="row text-center">
                <div class="services-contents">
                  <!-- Start Left services -->
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="about-move">
                      <div class="services-details">
                        <div class="single-services">
                          <a class="services-icon" href="#">
                                                    <i class="fa fa-home"></i>
                                                </a>
                          <h4>Roupeiros</h4>
                          <p>

                          </p>
                        </div>
                      </div>
                      <!-- end about-details -->
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="about-move">
                      <div class="services-details">
                        <div class="single-services">
                          <a class="services-icon" href="#">
                                                    <i class="fa fa-cutlery"></i>
                                                </a>
                          <h4>Cozinhas</h4>
                          <p>

                          </p>
                        </div>
                      </div>
                      <!-- end about-details -->
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- end col-md-4 -->
                    <div class=" about-move">
                      <div class="services-details">
                        <div class="single-services">
                          <a class="services-icon" href="#">
                                                    <i class="fa fa-file-text"></i>
                                                </a>
                          <h4>Orçamentos Grátis</h4>
                          <p>

                          </p>
                        </div>
                      </div>
                      <!-- end about-details -->
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- End Service area -->

        <!-- Start contact Area -->
          <div id="contact" class="contact-area">
            <div class="contact-inner area-padding">
              <div class="contact-overly"></div>
              <div class="container ">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                      <h2>Contacte-nos</h2>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- Start contact icon column -->
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                      <div class="single-icon">
                        <i class="fa fa-mobile"></i>
                        <p>
                          Call: 916164905<br>
                          <span>Segunda-Sexta (9h-17h)</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- Start contact icon column -->
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                      <div class="single-icon">
                        <i class="fa fa-envelope-o"></i>
                        <p>
                          Email: luperoup@gmail.com
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- Start contact icon column -->
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                      <div class="single-icon">
                        <i class="fa fa-map-marker"></i>
                        <p>
                          Location: Avenida Charlie Chaplin Lote 529M<br>
                          <span>Quinta das Laranjeiras, Fernão Ferro</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">

                  <!-- Start  contact -->
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form contact-form">
                      <div id="sendmessage">Your message has been sent. Thank you!</div>
                      <div id="errormessage"></div>
                      <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                          <input type="text" name="name" class="form-control" id="name" placeholder="O seu Nome" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                          <div class="validation"></div>
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" id="email" placeholder="O seu Email" data-rule="email" data-msg="Please enter a valid email" />
                          <div class="validation"></div>
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                          <div class="validation"></div>
                        </div>
                        <div class="form-group">
                          <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensagem"></textarea>
                          <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit">Enviar Mensagem</button></div>
                      </form>
                    </div>
                  </div>
                  <!-- End Left contact -->
                </div>
              </div>
            </div>
          </div>
        <!-- End Contact Area -->
{% endblock %}

